/* Navbar */
.navbar-expand-lg {
    background-color: rgb(6, 26, 56);
}
.navbar-light .navbar-brand {
    color: white;
    }
#navbarSupportedContent .nav-link {
        color: white;
    }
.navbar-toggler-icon {
        color: white;
        background-color: white;
} 
/* Navbar End */

/* Main */
body {
    background-image: url("bg.jpg");
}
#mainPic {
float: left;
}
.col-md-8 {
    background-image: url("bgfoc.jpg");
}
p {
    color: white;
}

/* Main End */

/* Sticky Footer */
.footer {
    background-color: rgb(6, 26, 56);
}
h1 {
    color: white;
}
h2 {
    color: white;
    float: left;
    padding: 0px 0px 0px 300px;
}
#liLink {
    padding-right: 20px;
}
/* Sticky Footer End */